.item__container {
	animation-duration: 0.15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.item__image {
	height: max-content;
	width: 100%;
	object-fit: cover;
	margin-bottom: 2.25rem;
}

.item__image > img {
	height: 100%;
	width: 100%;
}

.item__heading {
	margin-bottom: 1.25rem;
}

.item__content {
	margin-bottom: 2.18rem;
	white-space: pre-wrap;
	margin-bottom: 0.62rem;
}

.item__content > p {
	margin-bottom: 0.87rem;
}

@keyframes anim0to100 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes anim100to20 {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.2;
	}
}

@keyframes anim20to100 {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@keyframes anim100to0 {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
